table, th, td {
    border: black solid 1px;
}

.order-input {
    width: 50%;
    margin: auto;
}

textarea {
    background-color: #ffeded;
}

.orders {
    margin: auto;
    padding: 20px;
    width: 50%;
}

.order-card {
    background-color: #ffeded;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    transition: 400ms;
}

.order-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

table {
    margin: auto;
}