table {
    border-collapse: collapse;
    background: #ffdbdb;
    border: none;
    margin: auto auto 80px;
    white-space: nowrap;
}

th, td {
    border: 1px solid black;
    padding: 20px;
}

td img {
    max-width: 100px;
    max-height: 100px;
}

.btn-hapus{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 20px;
    padding: 10px;
}

.btn-update{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    border-radius: 20px;
    padding: 10px;
}

.form-input{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
    width: 80%;
    margin: auto auto 80px;
}

.form-outer{
    margin-bottom: 15px;
}

.btn-simpan{
    color: #fff;
    background-color: green;
    border-color: green;
    border-radius: 20px;
    padding: 10px;
}

.btn-tambahproduk{
    color: #fff;
    background-color: blue;
    border-color: blue;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.title-product-admin:after {
    left: 48%;
}