body .registerUI {
    background: #ffffff;
    border-radius: 25px;
    width: 400px;
    height: max-content;
    padding: 20px 0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 38.5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}

body .registerUI:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

body {
    background: linear-gradient(#ff4c3f, #ffb293);
}

body .registerUI .registerForm ul {
    list-style-type: none;
}

body .registerUI .registerForm ul li {
    width: 175px;
    padding: 15px;
}

body .registerUI .registerForm {
    margin-left: 28.5%;
}

.logoRegister img {
    height: 80px;
    transition: 400ms;
}

body .registerUI .registerForm ul li:nth-child(5) {
    margin-top: 3%;
}

.logoRegister {
    margin-left: 27.5%;
}

.logoRegister img:hover {
    filter: brightness(125%);
}

.linkRegister {
    text-align: center;
    margin-top: 10px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 40ms;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 768px) {
    body .registerUI {
        background: #ffffff;
        border-radius: 25px;
        width: auto;
        height: max-content;
        padding: 20px 0;
        margin: 10%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        transition: 400ms;
    }
    body .registerUI:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }
    body {
        background: linear-gradient(#ff4c3f, #ffb293);
    }
    body .registerUI .registerForm ul {
        list-style-type: none;
    }
    body .registerUI .registerForm ul li {
        width: 175px;
        padding: 15px;
    }
    body .registerUI .registerForm {
        margin-left: 20%;
    }
    .logoRegister img {
        height: 80px;
        transition: 400ms;
    }
    body .registerUI .registerForm ul li:nth-child(5) {
        margin-top: 3%;
    }
    .logoRegister {
        margin-left: 20%;
    }
    .logoRegister img:hover {
        filter: brightness(125%);
    }
    .linkRegister {
        text-align: center;
        margin-top: 10px;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 8px 12px;
        margin-top: 8px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 40ms;
    }
    input[type=submit]:hover {
        background-color: #45a049;
    }
}