body .loginUI {
    background: #ffffff;
    border-radius: 25px;
    width: 500px;
    height: max-content;
    padding: 20px 0;
    margin: 10% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}

body .loginUI:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

body {
    background: linear-gradient(#31a84b, #ffb293);
}

.loginUI .loginForm {
    margin-top: 1.5%;
    margin: auto;
}

.loginUI ul {
    list-style-type: none;
}

.loginUI ul li {
    margin: auto;
    width: 150px;
    padding: 7.5px;
}

.loginUI ul li:nth-child(3) {
    padding-top: 20px;
}

.logoRegister img {
    height: 80px;
    transition: 400ms;
margin: auto;
}

.loginError {
    /*Editin dong - kenny*/
}

.logoRegister {
    margin-left: 32.5%;
}

.logoRegister img:hover {
    filter: brightness(125%);
}

.linkRegister {
    text-align: center;
    margin-top: 10px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 40ms;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 768px) {
    body .loginUI {
        background: #ffffff;
        border-radius: 25px;
        width: auto;
        height: max-content;
        padding: 20px 0;
        margin: 10%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        transition: 400ms;
    }
    body .loginUI:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }
    body {
        background: linear-gradient(#31a84b, #ffb293);
    }
    .loginUI .loginForm {
        width: 60%;
        margin: auto;
    }
    .loginUI ul {
        list-style-type: none;
    }
    .loginUI ul li {
        width: 150px;
        padding: 7.5px;
    }
    .loginUI ul li:nth-child(3) {
        padding-top: 20px;
    }
    .logoRegister a {
        display: flex;
        justify-content: center;
    }
    .logoRegister img {
        height: 80px;
        transition: 400ms;
    }
    .loginError {
        /*Editin dong - kenny*/
    }
    .logoRegister {
        margin: 0 auto;
    }
    .logoRegister img:hover {
        filter: brightness(125%);
    }
    .linkRegister {
        text-align: center;
        margin-top: 10px;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 8px 12px;
        margin-top: 8px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 40ms;
    }
    input[type=submit]:hover {
        background-color: #45a049;
    }
}