* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(#dc143d, #fa8072);
}

.logo img {
    height: 80px;
    position: relative;
    left: 100px;
    transition: 400ms;
}

.logo img:hover {
    filter: brightness(125%);
}

.navigationbar {
    display: flex;
    position: sticky;
    align-items: center;
    padding: 5px;
    background-color: black;

}

.navigationbar nav {
    flex: 1;
    text-align: right;
}

.navigationbar nav ul {
    display: inline-block;
    list-style-type: none;
}

.navigationbar nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.5s;
}

.navigationbar nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 40px;
}

.navigationbar nav ul li:hover {
    transform: translateY(5px);
}

.menu-icon{
    width: 28px;
    margin-right: 10px;
    display: none;
}

h1, h2, h3, nav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a {
    text-decoration: none;
}

/* media query */

@media only screen and (max-width: 800px){
    .navigationbar nav ul{
        position: absolute;
        top:70px;
        left: 0;
        background:#333;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .navigationbar nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;

    }

    .navigationbar nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 0px;
    }

    .navigationbar nav ul li a{
        color:#fff;
    }

    .menu-icon{
        display:block;
        cursor:pointer;
    }
}

    @media only screen and (max-width:600px){
        .row{
            text-align:center;
        }

        .column, .product-card{
            flex-basis: 100%;
        }
    }

